@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
    size: auto;
    margin: 0;
}

@print {
    @page :footer {
        display: none;
    }
    @page :header {
        display: none;
    }
}

@media print {
    .print-page-break {
        clear: both;
        page-break-after: always;
    }
}
